NEXT_PUBLIC_APP_URL=http://localhost:3000

# Clerk
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_YnVyc3RpbmctZ2Vja28tMjEuY2xlcmsuYWNjb3VudHMuZGV2JA
CLERK_SECRET_KEY=sk_test_ORV0KLdTk4LF4FsDIUXHGZhmrPSOP2qzGpi6spH8O5
CLERK_WEBHOOK_SECRET=whsec_q4mdIMCqFB9Z+wPy1smoES01MF6YfeSb

# Prisma + Supabase
NEXT_PUBLIC_SUPABASE_URL=https://bguxkuthtqgovqbkmhdn.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_V3ETb2plNEVnU4Ebf813zQ_b2K6QEA-
# Transaction pooler (port 6543) — add ?pgbouncer=true to disable prepared statements
DATABASE_URL=postgresql://postgres.[project-ref]:[password]@aws-1-ap-south-1.pooler.supabase.com:6543/postgres?pgbouncer=true
# Session pooler or direct connection — used by prisma migrate
DIRECT_URL=postgresql://postgres.[project-ref]:[password]@aws-1-ap-south-1.pooler.supabase.com:5432/postgres
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJndXhrdXRodHFnb3ZxYmttaGRuIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzcxNDU3NzksImV4cCI6MjA5MjcyMTc3OX0.126ySy2eMmwOlFDW5b5XkEaYNvySUgedA5HLGhI3bRw
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJndXhrdXRodHFnb3ZxYmttaGRuIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NzE0NTc3OSwiZXhwIjoyMDkyNzIxNzc5fQ.042mSfXIVFfxq9-l6-W8hwJ4mRJLsM2vw7tV8qZDHHo

# Cloudflare R2
CLOUDFLARE_R2_ENDPOINT=https://a7ac37988b42b3d2d4298276caad2fae.r2.cloudflarestorage.com/prelim
CLOUDFLARE_R2_BUCKET=prelim
CLOUDFLARE_R2_ACCESS_KEY_ID=ab4b306f1273dde98694bf4fb3db5b65
CLOUDFLARE_R2_SECRET_ACCESS_KEY=9a47c868a30ce4fc76f003b2f7f18b2242eab033b31ac7629b4bc0c29f67c972

# Upstash Redis
UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=

# Resend + React Email
RESEND_API_KEY=
RESEND_FROM_EMAIL=

# Axiom
AXIOM_TOKEN=
AXIOM_ORG_ID=
AXIOM_DATASET=worklenz

# Vercel Cron
CRON_SECRET=
